.grid-item-sides {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item-side-1 {
  display: grid;
  height: 500px;
  border: 1px solid black;
}

.grid-item-side-2 {
  display: grid;
  height: 500px;
  grid-column-start: 2;
  border: 1px solid black;
}

body {
  background-color: rgb(43, 43, 43);
  color: white;
}

.unit {
  display: grid;
  border: 1px solid black;
}

.unit-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
